[project]
	description = My course java project. It's life game.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/valexby (valexby)
[access "refs/for/refs/*"]
	read = group user/valexby (valexby)
	push = group user/valexby (valexby)
	label-Code-Review = -2..+2 group user/valexby (valexby)
	label-Verified = -1..+1 group user/valexby (valexby)
	rebase = group user/valexby (valexby)
	removeReviewer = group user/valexby (valexby)
	submit = group user/valexby (valexby)
[access "refs/heads/*"]
	read = group user/valexby (valexby)
	create = group user/valexby (valexby)
	push = +force group user/valexby (valexby)
	pushMerge = group user/valexby (valexby)
	label-Code-Review = -2..+2 group Registered Users
[access "refs/tags/*"]
	push = +force group user/valexby (valexby)
	pushTag = group user/valexby (valexby)
	pushSignedTag = group user/valexby (valexby)
